<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" style="height: 100%;">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">SAP Admin</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="index.html">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Inicio</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0 mb-4">

    <!-- Heading -->
    <div class="sidebar-heading">
        Menu
    </div>

    <!-- Nav Item - Charts -->
    <li class="nav-item" *ngIf="isAdmin == true; else noOwner">
        <a class="nav-link" routerLink="clients" routerLinkActive="active">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Clientes</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item" *ngIf="isAdmin == true; else noOwner">
        <a class="nav-link" routerLink="types-tasks" routerLinkActive="active">
        <i class="fas fa-fw fa-table"></i>
        <span>Tipos de Tareas</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item" *ngIf="isChief == true || isTechnical == true || isAdmin == true; else noOwner">
        <a class="nav-link" routerLink="tasks" routerLinkActive="active">
        <i class="fas fa-fw fa-table"></i>
        <span>Tareas</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item" *ngIf="isAdmin == true; else noOwner">
        <a class="nav-link" routerLink="types-products" routerLinkActive="active">
        <i class="fas fa-fw fa-table"></i>
        <span>Tipos de Producto</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item" *ngIf="isAdmin == true; else noOwner">
        <a class="nav-link" routerLink="products" routerLinkActive="active">
        <i class="fas fa-fw fa-table"></i>
        <span>Productos</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item" *ngIf="isChief == true || isAdmin == true; else noOwner">
        <a class="nav-link" routerLink="servicios" routerLinkActive="active">
        <i class="fas fa-fw fa-table"></i>
        <span>Servicios</span></a>
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" (click)="logout()">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Cerrar Sessión</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->