<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Reportes</h1>
    <p class="mb-4">Aquí se visualizan los reportes <a target="_blank" href="https://datatables.net">ver Documentación Official</a>.</p>
    <a routerLink="new" class="btn btn-primary btn-icon-split mb-3">
        <span class="text">Reporte de Productos</span>
    </a>
    <a routerLink="new" class="btn btn-primary btn-icon-split ml-2 mb-3">
        <span class="text">Reporte de Clientes</span>
    </a>
    <a routerLink="new" class="btn btn-primary btn-icon-split ml-2 mb-3">
        <span class="text">Reporte de Cuentas</span>
    </a>
    <a routerLink="new" class="btn btn-primary btn-icon-split ml-2 mb-3">
        <span class="text">Reporte de Tareas</span>
    </a>
    <a routerLink="new" class="btn btn-primary btn-icon-split ml-2 mb-3">
        <span class="text">Reporte de Emergencias</span>
    </a>
    <a routerLink="new" class="btn btn-warning btn-icon-split ml-5 mb-3">
        <span class="text">Imprimir</span>
    </a>
  
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Reporte de cuentas</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Código</th>
                <th>Cliente</th>
                <th>Activo desde</th>
                <th>Fecha de Venc.</th>
                <th>Fecha de Pago</th>
                <th>Saldo</th>
                <th>Estado</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Código</th>
                <th>Cliente</th>
                <th>Activo desde</th>
                <th>Fecha de Venc.</th>
                <th>Fecha de Pago</th>
                <th>Saldo</th>
                <th>Estado</th>
              </tr>
            </tfoot>
            <tbody>
              <tr>
                <td>2236</td>
                <td>1587</td>
                <td>04/02/17</td>
                <td>10/11/19</td>
                <td>08/11/19</td>
                <td>$0</td>
                <td>Al Día</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  
  </div>
  <!-- /.container-fluid -->