<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Productos</h1>
    <p class="mb-4">Aquí se visualizan los Productos <a target="_blank" href="https://datatables.net">ver Documentación Official</a>.</p>
    <a routerLink="new" class="btn btn-primary btn-icon-split mb-3">
      <span class="icon text-white-50">
        <i class="fas fa-plus-circle"></i>
      </span>
      <span class="text">Nuevo Producto</span>
    </a>
  
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Listado de productos</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Acciones</th>
              </tr>
            </tfoot>
            <tbody>
              <tr>
                <td>215</td>
                <td>Aire - Phillips</td>
                <td>$3850</td>
                <td>
                  <button type="button" class="btn btn-info btn-circle"><i class="fas fa-search"></i></button>
                  <button type="button" class="btn btn-warning btn-circle"><i class="fas fa-fw fa-cog"></i></button>
                  <button type="button" class="btn btn-danger btn-circle"><i class="fas fa-trash"></i></button>
                </td>
              </tr>
              <tr>
                <td>687</td>
                <td>Videocamara con Alarma - Sony</td>
                <td>$8000</td>
                <td>
                  <button type="button" class="btn btn-info btn-circle"><i class="fas fa-search"></i></button>
                  <button type="button" class="btn btn-warning btn-circle"><i class="fas fa-fw fa-cog"></i></button>
                  <button type="button" class="btn btn-danger btn-circle"><i class="fas fa-trash"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  
  </div>
  <!-- /.container-fluid -->