<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Tareas Pendientes</h1>
  <p class="mb-4">Aquí se visualizan las tareas pendientes con los detalles del cliente asignado a la tarea <a target="_blank" href="https://datatables.net">ver Documentación Official</a>.</p>
  <a routerLink="new" class="btn btn-primary btn-icon-split mb-3" *ngIf="isAdmin == true; else noOwner">
    <span class="icon text-white-50">
      <i class="fas fa-plus-circle"></i>
    </span>
    <span class="text">Nueva Tarea</span>
  </a>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary" *ngIf="isAdmin == true; else noOwner">Listado de tareas</h6>
      <h6 class="m-0 font-weight-bold text-primary" *ngIf="isTechnical == true; else noOwner">Listado de tareas pendientes</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">

        <!-- Table Admin -->
        <table *ngIf="isAdmin == true; else noOwner" class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Id</th>
              <th>Cuenta</th>
              <th>Tipo</th>
              <th>Tecnico</th>
              <th>Descripcion</th>
              <th>Estado</th>
              <th>Fecha</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tar of service.list">
              <td>{{ tar.id }}</td>
              <td>{{ tar.cuenta }}</td>
              <td>{{ tar.tipo }}</td>
              <td>{{ tar.dni_tecnico }}</td>
              <td>{{ tar.descripcion }}</td>
              <td>{{ tar.estado }}</td>
              <td>{{ tar.fecha |date:"dd/MM/yyyy" }}</td>
              <td>
                <button type="button" class="btn btn-info btn-circle"><i class="fas fa-search"></i></button>
                <button type="button" class="btn btn-warning btn-circle"><i class="fas fa-fw fa-cog"></i></button>
                <button type="button" class="btn btn-danger btn-circle"><i class="fas fa-trash"></i></button>
              </td>
            </tr>
          </tbody>
        </table>

        <!-- Table Technical -->
        <table *ngIf="isTechnical == true; else noOwner" class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Id</th>
              <th>Cuenta</th>
              <th>Tipo</th>
              <th>Descripcion</th>
              <th>Estado</th>
              <th>Fecha</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tar of service.list">
              <td>{{ tar.id }}</td>
              <td>{{ tar.cuenta }}</td>
              <td>{{ tar.tipo }}</td>
              <td>{{ tar.descripcion }}</td>
              <td>{{ tar.estado }}</td>
              <td>{{ tar.fecha |date:"dd/MM/yyyy" }}</td>
              <td>
                <button type="button" class="btn btn-sm btn-warning" (click)="updateTask(tar)">finalizar</button>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->