<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800">Nueva Tarea</h1>

  <a routerLink="../" class="btn btn-primary btn-icon-split mb-3">
    <span class="icon text-white-50">
      <i class="fas fa-arrow-circle-left"></i>
    </span>
    <span class="text" style="color: white;">Volver a Tareas</span>
  </a>

      <!-- Default Card Example -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Creando nueva tarea</h6>
        </div>
        <div class="card-body">
          <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
            <input type="hidden" name="id" #id="ngModel" [ngModel]="service.formData?.id">
            <h6 class="m-0 font-weight-bold text-default">Tipo de Tarea</h6>
            <hr>
            <div class="form-group row">
              <div class="col-sm-12 mb-3 mb-sm-0">
                <select name="tipo" #tipo="ngModel" [ngModel]="service.formData?.tipo" class="form-control" id="tipo">
                  <option value="reparacion">Reparación</option>
                  <option value="instalacion">Instalación</option>
                  <option value="presupuestacion">Presupuestación</option>
                  <option value="mantenimiento">mantenimiento</option>
                </select>
              </div>
            </div>
            <h6 class="m-0 font-weight-bold text-default mt-5">Nro. Cuenta Cliente</h6>
            <hr>
            <div class="form-group row">
              <div class="col-sm-4 mb-3 mb-sm-0">
                <input type="text" name="cuenta" #cuenta="ngModel" [ngModel]="service.formData?.cuenta" class="form-control form-control-user" placeholder="Nro. Cuenta" required>
              </div>
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-info">Verificar</button>
            </div>
            <h6 class="m-0 font-weight-bold text-default mt-5">Técnico</h6>
            <hr>
            <div class="form-group row">
              <div class="col-sm-4 mb-3 mb-sm-0">
                <input type="text" name="dni_tecnico" #dni_tecnico="ngModel" [ngModel]="service.formData?.dni_tecnico" class="form-control form-control-user" placeholder="Nro. DNI Tecnico" required>
              </div>
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-warning">Asignar</button>
            </div>
            <h6 class="m-0 font-weight-bold text-default mt-5">Detalle Tarea</h6>
            <hr>
            <div class="form-group row">
              <div class="col-sm-4 mb-3 mb-sm-0">
                <select name="estado" #estado="ngModel" [ngModel]="service.formData?.estado" class="form-control" id="estado">
                  <option value="pendiente">pendiente</option>
                  <option value="finalizado">finalizado</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                <textarea name="descripcion" #descripcion="ngModel" [ngModel]="service.formData?.descripcion" class="form-control form-control-user" id="descripcion" placeholder="Descripción" rows="4"></textarea>
              </div>
            </div>
            <div class="form-group float-right">
              <button type="submit" class="btn btn-success btn-icon-split">
                <span class="icon text-white-50">
                  <i class="fas fa-plus-circle"></i>
                </span>
                <span class="text">Crear Tarea</span>
              </button>
            </div>
          </form>
        </div>
      </div>



</div>
<!-- /.container-fluid -->