<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tipos de Productos</h1>
    <p class="mb-4">Aquí se visualizan los tipos de productos con los detalles del cliente asignado a la tarea <a target="_blank" href="https://datatables.net">ver Documentación Official</a>.</p>
    <a routerLink="new" class="btn btn-primary btn-icon-split mb-3">
        <span class="icon text-white-50">
        <i class="fas fa-plus-circle"></i>
        </span>
        <span class="text">Nuevo Tipo Productos</span>
    </a>
    
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Listado de tipos de productos</h6>
        </div>
        <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Marca</th>
                    <th>Nombre</th>
                    <th>Proveedor</th>
                    <th>Descripcion</th>
                    <th>Precio</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>6587</td>
                    <td>Phillips</td>
                    <td>Camara de seguridad</td>
                    <td>Phillips Oficial</td>
                    <td>camara de casa interior</td>
                    <td>$2300</td>
                    <td>
                        <button type="button" class="btn btn-info btn-circle"><i class="fas fa-search"></i></button>
                        <button type="button" class="btn btn-warning btn-circle"><i class="fas fa-fw fa-cog"></i></button>
                        <button type="button" class="btn btn-danger btn-circle"><i class="fas fa-trash"></i></button>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
        </div>
    </div>
            
</div>
<!-- /.container-fluid -->