<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Nuevo Cliente</h1>
  
    <a routerLink="../" class="btn btn-primary btn-icon-split mb-3">
      <span class="icon text-white-50">
        <i class="fas fa-arrow-circle-left"></i>
      </span>
      <span class="text" style="color: white;">Volver a Clientes</span>
    </a>
  
    <!-- Default Card Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Creando nuevo cliente</h6>
        </div>
        <div class="card-body">
        <form #form="ngForm" (submit)="onSubmit(form)">
            <input type="hidden" name="$nro_cliente" #$nro_cliente="ngModel" [ngModel]="service.formData?.$nro_cliente">
            <h6 class="m-0 font-weight-bold text-default">Datos Personales</h6>
            <hr>
            <div class="form-group row">
                <div class="col-sm-3 mb-3 mb-sm-0">
                    <input type="text" name="apellido" #apellido="ngModel" [ngModel]="service.formData?.apellido" class="form-control form-control-user" id="apellido" placeholder="Apellido">
                </div>
                <div class="col-sm-3">
                    <input type="text" name="nombre" #nombre="ngModel" [ngModel]="service.formData?.nombre" class="form-control form-control-user" id="nombre" placeholder="Nombre">
                </div>
                <div class="col-sm-2">
                    <input type="number" name="dni" #dni="ngModel" [ngModel]="service.formData?.dni" class="form-control form-control-user" id="dni" placeholder="DNI">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-5 mb-3 mb-sm-0">
                    <input type="text" name="fecha_nac" #fecha_nac="ngModel" [ngModel]="service.formData?.fecha_nac" class="form-control form-control-user" id="fecha_nac" placeholder="Fecha de Nacimiento">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4 mb-3 mb-sm-0">
                    <select name="provincia" #provincia="ngModel" [ngModel]="service.formData?.provincia" class="form-control" id="provincia">
                    <option>Chaco</option>
                    <option>Corrientes</option>
                    <option>Misiones</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <select name="ciudad" #ciudad="ngModel" [ngModel]="service.formData?.ciudad" class="form-control" id="ciudad">
                    <option>Resistencia</option>
                    <option>Las Breñas</option>
                    <option>Puerto Tirol</option>
                    </select>
                </div>
            </div>
            <h6 class="m-0 font-weight-bold text-default mt-5">Datos de Contacto</h6>
            <hr>
            <div class="form-group row">
                <div class="col-sm-3 mb-3 mb-sm-0">
                    <input type="text" name="celular" #celular="ngModel" [ngModel]="service.formData?.celular" class="form-control form-control-user" id="celular" placeholder="Celular">
                </div>
                <div class="col-sm-3">
                    <input type="number" name="telefono" #telefono="ngModel" [ngModel]="service.formData?.telefono" class="form-control form-control-user" id="telefono" placeholder="Teléfono">
                </div>
                <div class="col-sm-4">
                    <input type="number" name="email" #email="ngModel" [ngModel]="service.formData?.email" class="form-control form-control-user" id="email" placeholder="Email">
                </div>
            </div>
            <h6 class="m-0 font-weight-bold text-default mt-5">Domicilio</h6>
            <hr>
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" name="calle" #calle="ngModel" [ngModel]="service.formData?.calle" class="form-control form-control-user" id="calle" placeholder="Calle">
                </div>
                <div class="col-sm-2">
                    <input type="number" name="nro_calle" #nro_calle="ngModel" [ngModel]="service.formData?.nro_calle" class="form-control form-control-user" id="nro_calle" placeholder="Numero">
                </div>
                <div class="col-sm-2">
                    <input type="text" name="dpto" #dpto="ngModel" [ngModel]="service.formData?.dpto" class="form-control form-control-user" id="dpto" placeholder="Depto">
                </div>
                <div class="col-sm-2">
                    <input type="number" name="piso" #piso="ngModel" [ngModel]="service.formData?.piso" class="form-control form-control-user" id="piso" placeholder="Piso">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text"  name="barrio" #barrio="ngModel" [ngModel]="service.formData?.barrio" class="form-control form-control-user" id="barrio" placeholder="Barrio">
                </div>
                <div class="col-sm-2">
                    <input type="number"  name="manzana" #manzana="ngModel" [ngModel]="service.formData?.manzana" class="form-control form-control-user" id="manzana" placeholder="Manzana">
                </div>
                <div class="col-sm-2">
                    <input type="number"  name="parcela" #parcela="ngModel" [ngModel]="service.formData?.parcela" class="form-control form-control-user" id="parcela" placeholder="Parcela">
                </div>
            </div>
            <div class="form-group float-right mt-5">
                <button type="submit" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                    <i class="fas fa-plus-circle"></i>
                    </span>
                    <span class="text">Crear Cliente</span>
                </button>
            </div>
        </form>
        </div>
    </div>  

</div>
<!-- /.container-fluid -->